.nav-flex {
    display: flex;
    align-items: center;
}
.nav-content {
    width: 1140px;
}
.input-form {
    width: 100%;
    padding: 10px 50px 50px 50pxz;
}
.navbar-left .condit-query {
    display: block;
    position: relative;
    margin: 0 30px 25px 0;
}
.field-dsp {
    display: inline-block;
    width: 100px;
}
.l-top {
    vertical-align: top;
}
.drop-box {
    display: inline-block;
}
.drop-active {
    background-color: #f5f5f5;
}
.search-box {
    position: relative;
    display: inline-block;
}
.c-label {
    margin-left: 40px;
}
.result-lis {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 34px;
}
.condit-query .mail-remarks {
    display: inline-block;
    width: 80%;
    height: 280px;
    padding: 6px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit-btn {
    display: block;
    margin: 0 auto;
}